// Configuration
//
$color_base    ?= #2a2a2e
$color_base_bg ?= #fff

$color_gray         ?= #b1b1b3
$color_gray_dark    ?= #737373
$color_gray_darker  ?= #4a4a4f
$color_gray_light   ?= #d7d7db
$color_gray_lighter ?= #ededf0

$color_link       ?= #0a84ff
$color_link_hover ?= #0060df

// Fonts and vertical distribution
$base_font_size  ?= 14px
$line_height     ?= 1.5


@require "sunrise-css/src/core/base"
@require "sunrise-css/src/core/form-fields"

// Main styles
//
h2
    font-weight normal
    color color_gray_darker

h3
    font-weight normal
    color color_gray_darker

#nav
    position sticky
    z-index 1000
    top 0
    margin 0
    padding 0.5rem
    background $color_gray_lighter
    color $color_gray_darker

    ul
      display flex
      flex-direction row
      justify-content flex-start
      margin 0
      padding 0
      list-style none

    li
        display block
        margin 0 0.5rem 0 0
        padding 0
        line-height 1

        &.spacer
            flex-grow 1

        a
            display flex
            flex-direction row
            justify-content flex-start
            align-items center
            color inherit
            text-decoration none

            &:hover, &:focus
            &.active
                color $color_link

        svg
            height 20px

        .night-mode
            cursor pointer

            &.active
                fill #d76e00

.container
    width 20rem
    margin 0 auto 2rem
    padding 2rem 0

    @media screen and (min-width: unit(460 / 16, em))
        width 42rem

    @media screen and (min-width: unit(680 / 16, em))
        width 64rem

    @media screen and (min-width: unit(900 / 16, em))
        width 86rem

    @media screen and (min-width: unit(1120 / 16, em))
        width 108rem

    h2
        text-align center

.cards
    display flex
    flex-direction row
    flex-wrap wrap
    margin 0 -1rem
    padding-bottom remsize(get_line_height())

    a *
        pointer-event none

    h2, hr
        width 100%

    hr
        margin 1rem

    .card
        display flex
        align-items center
        width 20rem
        height 7rem
        margin 1rem 1rem
        flex-shrink 0
        background $color_base_bg
        border-radius 3px
        box-shadow inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 4px 0 rgba(12, 12, 13, 0.1)
        text-decoration none

        &:hover
            box-shadow 1px 1px 6px rgba(0,0,0, 0.4)

        img, svg
            display block
            width 32px
            height 32px

        img
            border-radius 100px

        svg
            stroke $color_gray

        svg.loader
            stroke $color_gray_dark

        span
            display block

        span:nth-child(1)
            flex 0 0 40px
            margin-left 1rem

        span:nth-child(2)
            flex 0 1 auto
            margin-right 1rem
            font-size 1.3rem

.folders
    column-width 20rem
    column-gap 2rem

.folder
    page-break-inside avoid
    width 18rem
    margin-bottom remsize(get_line_height())

    h3
        font-size 1.6rem
        vertical_flow(@font-size)
        margin 0 0 -1px 0
        border-bottom 1px solid $color_gray_lighter

        span
            font-size 1.2rem
            &:after
                content '\202F\203A\202F'

            &:last-child
                font-size 1.6rem
                color $color_base
                &:after
                    content ''

    .card
        display flex
        align-items start
        flex-shrink 0
        text-decoration none
        font-size 1.3rem
        vertical_flow(1.3rem)
        background $color_base_bg

        &:hover
            background $color_gray_lighter

        img, svg
            display block
            margin-top 2px
            width 16px
            height 16px

        img
            border-radius 100px

        svg
            stroke $color_gray

        svg.loader
            stroke $color_gray_dark

        span
            display block

        span:nth-child(1)
            flex 0 0 20px

        span:nth-child(2)
            flex 0 1 auto

.nightmode
    background-color $color_base
    color $color_base_bg

    a
        color $color_gray_light

        &:hover, &:focus
            color $color_gray_lighter

    h2, h3
        color $color_gray_lighter

    #nav
        background-color $color_gray_darker
        color $color_gray_lighter

        .night-mode
            fill #ff9400

        a:hover, a:focus, a.active
            color #ff9400

    .card
        background-color $color_base

    .cards .card
        box-shadow inset 0 0 0 1px rgba(170,170,170, 0.1), 0 1px 4px 0 rgba(158,158,158, 0.1)

        &:hover
            box-shadow 0 0 6px rgba(200,200,200, 0.4)

    .folders
        h3
            border-bottom 1px solid $color_gray_darker

            span:last-child
                color $color_base_bg

        .card:hover
            background $color_gray_darker
